body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: flex;
  justify-content: space-around;
  background-color: #374151;
  color: #eeeeee;
}

h3 {
  font-size: 3rem;
  margin: 2rem;
}

.scoreboard {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.score {
  background-color: black;
  font-family: "Cursed Timer ULiL", sans-serif;
  color: #f94f6d;
  font-size: 9rem;
  padding: 2rem 4rem 2rem 4rem;
}

.scorebtns {
  display: inline-block;
}

button {
  margin: 2rem 0.5rem 2rem 0.5rem;
  padding: 1rem;
  border: 0.2rem solid #9aabd8;
  border-radius: 0.3rem;
  background-color: #374151;
  font-family: "Cursed Timer ULiL", sans-serif;
  font-size: 2rem;
  color: #9aabd8;
  transition: all 1s;
  cursor: pointer;
}

button:hover {
  color: #0284c7;
  background-color: #ccd9ef;
}

@media screen and (max-width: 600px) {
  button {
    margin: 1rem 0.5rem 1rem 0.5rem;
    font-size: 1rem;
  }

  .score {
    color: #f94f6d;
    font-size: 6rem;
    padding: 1rem 2rem;
  }
}
